name: Continuos Integration 

on:
  push:
    branches:
    - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
          cache: maven

      - name: Build Application .jar
        working-directory: ./01_rest-with-springboot/
        run: mvn clean package

      - name: Docker Compose Build
        working-directory: ./rest-with-springboot
        run: docker compose build

      - name: Push to Docker Hub
        run: |
          docker tag marconefreitas/rest-with-springboot:latest marconefreitas/rest-with-springboot:${{github.run_id}}
          docker push marconefreitas/rest-with-springboot:latest
          docker push marconefreitas/rest-with-springboot:${{github.run_id}}



